@use './utilities'; /**Variables and mixin - Redundant rules**/

/**Loader**/

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.25);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes coreanim {
    0% {
      transform: scale(0);
      opacity: 1;
      border-radius: 50%;
    }
    10% {
        opacity: 0.75;
        border-radius: 0%;
      }
    50% {
        transform: scale(1.24);
        opacity: 0.5;
        border-radius: 50%;
    }
    100% {
      transform: scale(1);
      opacity: 0;
      border-radius: 50%;
    }
}

@keyframes loading-end {
    0% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    70% {
        opacity: 0.98;
    }
    97% {
        opacity: 0.90;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.loader {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 25vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: utilities.$background;
    animation: loading-end 3s 0s ease-out both;
    &__container-loader {
        height: 50%;
    }
    .prime-item {
        border-top: 1rem solid utilities.$main-color;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid utilities.$main-color;
        border-left: 1rem solid transparent;
        border-radius: 50%;
        position: relative;
        top: 4rem;
        height: 10rem;
        width: 10rem;
        animation: rotate 3s ease-in-out infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
    .secondary-item {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid utilities.$tertiary-color;
        border-bottom: 0.5rem dashed utilities.$tertiary-color;
        border-left: 0.5rem solid utilities.$tertiary-color;
        border-radius: 50%;
        position: relative;
        bottom: 7rem;
        left: 1rem;
        height: 9rem;
        width: 9rem;
        animation: rotate 3s ease-in-out infinite reverse;
        &:hover {
            animation-play-state: paused;
        }
    }
    .core-item {
        border: 0.3rem solid utilities.$main-color;
        border-radius: 50%;
        position: relative;
        bottom: 16.5rem;
        left: 1.5rem;
        height: 8.5rem;
        width: 8.5rem;
        animation: coreanim 3s ease-in-out infinite;
    } 
}

/**Hero**/

.hero {
    &__hero-geolocation {
        background-color: utilities.$background;
        font-weight: utilities.$medium-weight;
        display: flex;
        justify-content: center;
        gap: 1.0625rem;
        width: 100%;
        padding: 1rem 0 1rem 0;
        color: utilities.$option1-font-color;
    }
    &__hero-all {
        text-align: center;
        background-color: utilities.$light-background;
        padding: 1.3rem;
        &__hero-title h1 {
            @media (min-width: utilities.$large-device) {
                font-size: utilities.$fontsize-hero-title-desktop;
            }
            @media (min-width: utilities.$medium-device-min) and (max-width: utilities.$medium-device-max) {
                font-size: utilities.$fontsize-hero-title-tablet;
            }
        }
        &__hero-description{
            margin: 1.688rem 0;
            color: utilities.$option1-font-color;
            @media (min-width: utilities.$large-device) {
                font-size: utilities.$fontsize-hero-description;
            }
        }
    }
}

/**Guide**/

.guide {
    @media (min-width: utilities.$large-device) {
        display: flex;
        justify-content: center;
    }
    &__g-container {
        @media (min-width: utilities.$large-device) {
            display: flex;
            flex-direction: column;
            width: 1069px;
        }
        &__g-title h2 {
            padding: 3rem 5rem 0 1.25rem;
            @media (min-width: utilities.$large-device) {
                padding: 3rem 5rem 0 1.1rem;
            }
        }
        &__g-all-step {
            margin: 0 0 4.25rem 0;
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            @media (min-width: utilities.$medium-device-min) {
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                white-space: nowrap;
            }
            @media (min-width: utilities.$large-device) {
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                grid-gap: 0.5rem;
                padding-left: 1rem;
            }
        }
    }
}

.g-all-step {
    &__g-step {
        border-radius: 1.25rem;
        padding: 1rem 0;
        margin: 1.56rem 1.25rem 0 2.03rem;
        background-color: utilities.$light-background;
        font-weight: utilities.$medium-weight;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        @media (min-width: utilities.$medium-device-min) {
            margin-left: 1.2rem;
            min-width: 14.5rem;
        }
        @media (min-width: utilities.$large-device) {
            width: 18.16538rem;
        }
        &__g-number-order {
            display: inline-flex;
            border: 1px solid transparent;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background-color: utilities.$main-color;
            color: utilities.$option2-font-color;
            font-size: 0.88638rem;
            font-weight: utilities.$medium-weight;
            position: relative;
            right: 14px;
            @media (min-width: utilities.$medium-device-min) and (max-width: utilities.$medium-device-max) {
                width: 1.1rem;
                height: 1.1rem;
            }
        }
        &__g-step-txt {
            padding: 0 0.9rem 0 0.81rem;
        }
        &__stepfa {
            color: utilities.$option3-font-color;
        }
        &__stepfa.fa-solid.fa-store {
            color: utilities.$main-color;
        }
    }
}

/**Restaurants**/

.restaurant {
    background-color: utilities.$light-background;
    @media (min-width: utilities.$large-device) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
}

.resto-all {
    position: relative;
    padding-bottom: 4.13rem;
    &__resto-title {
        @media (min-width: utilities.$large-device) {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }   
        & h2 {
            padding: 3rem 5rem 1.5rem 1.25rem;
        }
    }
    &__r-card-all {
        display: grid;
        grid-gap: 1.25rem;
        @media (min-width: utilities.$medium-device-min) {
            grid-template-columns: minmax(475px, auto) 1fr;
        }
        @media (min-width: utilities.$medium-device-min) and (max-width: utilities.$medium-device-max) {
            margin: 0 1rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.r-card {
    position: relative;
    margin: 0 1.12rem 0 1.06rem;
    background-color: utilities.$extra-light-background;
    border-radius: 0.94rem;
    @include utilities.card-shadow;
    transition: all 0.2s ease-in-out; /**scale delay**/
    @media (min-width: utilities.$large-device) {
        width: 490px;
    }
    @media (min-width: utilities.$medium-device-min) and (max-width: utilities.$medium-device-max) {
        margin: 0;
    }
    &:hover {
        transform: scale(1.02);
    }
    &__r-card-link {
        &__r-picture img {
            width: 100%;
            height: 10rem;
            object-fit: cover;
        }
    }
    &__r-like {
        position: absolute;
        right: 1.56rem;
        bottom: 2.06rem;
    }
}

.r-picture {
    &__r-new {
        position: absolute;
        right: 1rem;
        margin-top: 1rem;
        background-color: utilities.$tertiary-color;
        color: utilities.$option4-font-color;
        padding: 0.44rem 0.6rem 0.37rem 0.56rem;
        border-radius: 0.13rem;
    }
    &__r-only-picture {
        border-radius: 0.94rem 0.94rem 0 0;
    }
}

.r-txt {
    &__r-name {
        padding: 0.5rem 3.75rem 0.31rem 0.81rem;
    }
    &__r-geoloc {
        padding: 0 5rem 0.75rem 0.81rem;
    }
}