$title_logo-font: Shrikhand;
$main-font: Roboto, sans-serif;
$fontsize-resto-name: 1.75rem;
$fontsize-category: 1rem;
$fontsize-menu-choice1: 1.125rem;
$fontsize-menu-choice2: 0.76rem;

/**Font-weight For SCSS**/
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$black-weight: 900;

/**Color For SCSS**/
$main-color: #9356DC; /**#9356DC primary purple**/
$secondary-color: #FF79DA; /**#FF79DA secondary purple for gradient**/
$tertiary-color: #99E2D0; /**#99E2D0 light green for some style details**/
$dark-background: #353535; /**#353535 dark grey for background**/
$background: #EAEAEA; /**EAEAEA grey for background**/
$light-background: #F6F6F6; /**F6F6F6 light grey for background**/
$extra-light-background: #FFFFFF; /**#FFFFFF white for background**/
$option1-font-color: #353535; /**#353535 dark grey for font**/
$option2-font-color: #FFFFFF; /**#FFFFFF white for font**/
$option3-font-color: #7E7E7E; /**#7E7E7E light grey for font**/
$option4-font-color: #008766; /**#008766 green for font**/
$gradient-color: linear-gradient(182deg, #FF79DA 0%, #9356DC 100%); /**Gradient for btn**/
$gradient-color2: linear-gradient(357deg, #FF79DA 0%, #9356DC 100%); /**Gradient for like icon**/
$gradient-color3: linear-gradient(270deg, #FFFFFF 50%, #FF79DA 50%); /**Gradient for footer link**/

/**Mixin For SCSS**/
@mixin section-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

@mixin card-shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

@mixin generic-btn-style {
    background: $gradient-color;
    color: $option2-font-color;
    font-size: 1rem;
    font-weight: $medium-weight;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.5625rem;
    padding: 0 1.5rem;
    height: 3.125rem;
    border: none;
    transition: all 0.3s ease-in-out; /**For mouse in - mouse out smooth animation delay**/
    &:hover {
        opacity: 0.85; /**lighten btn hover**/
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
    }
}

/**Header Back arrow**/

@keyframes arrowbeat {
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( 1.25 );
  }
  40%
  {
    transform: scale( 1 );
  }
  60%
  {
    transform: scale( 1.25 );
  }
  80%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( 1.25 );
  }
}

.btn-page-return {
    color: $option1-font-color;
    position: absolute;
    left: 0.6rem;
    top: 1.15rem;
    transition: transform 3s ease-in-out;
    &:hover {
        animation: arrowbeat 3s ease-in-out;
    }
}

/**Hero**/

.r-m-hero {
    height: 10rem;
    &__r-m-picture img {
        width: 100%;
        height: 13.1875rem;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
}

/**Menu Container**/
.r-menu-container {
    padding-top: 2rem;
    &__title-container { /**like+h1**/
        display: flex;
        justify-content: center;
        gap: 1.03rem;
        & h1 {
            font-family: $title_logo-font;
            font-size: $fontsize-resto-name;
        }
    }
}

.like-btn-menu-page { /**Like btn position**/
    position: relative;
    display: flex;
    bottom: 0.1rem;
    align-items: center;
    padding: 0 1.2rem 0 0;
}

/**Menu**/

.restaurant-menu {
    background: $light-background;
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 0 0.75rem;
    max-width: 1055px;
    margin: auto;
    &__menu-btn-container {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
}

.full-resto-menu {
    margin: 2.5rem 0;
    &__title-resto-menu {
        padding-bottom: 1.2rem;
        width: fit-content;
        & h2 {
            font-size: $fontsize-category;
            font-weight: $normal-weight;
        }
        &::after { /**Underline**/
            content: "";
            background: $tertiary-color;
            position: absolute; 
            margin-top: 0.3rem;
            width: 45px;
            height: 0.188rem; /**Underline thickness**/
            transition: all 0.3s ease-in-out;
        }
    }
}

.all-r-option {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 39.625rem;
    &__resto-option {
        background: $extra-light-background;
        border-radius: 0.94rem;
        padding: 0.94rem;
        &__r-option-name {
            font-size: $fontsize-menu-choice1;
        }
        &__r-option-ingredient {
            font-weight: $light-weight;
        }
        &__r-option-price {
            font-weight: $bold-weight;
        }
        &__menu-sub-option {
            display: flex;
            justify-content: space-between;
            font-size: $fontsize-menu-choice2;
        }
    }
}