@use './utilities'; /**Variables and mixin - Redundant rules**/

/**Header Back arrow**/

.btn-page-return {
    color: utilities.$option1-font-color;
    position: absolute;
    left: 0.6rem;
    top: 1.15rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.2);
        color: opacify(utilities.$tertiary-color, $amount: 1);
    }
}

/**Hero**/

.r-m-hero {
    height: 12rem;
    @media (min-width: utilities.$large-device) {
        height: 20rem;
    }
    &__r-m-picture img {
        width: 100%;
        height: 14.1875rem;
        object-fit: cover;
        position: relative;
        z-index: -1;
        object-position: 50% 60%;
        @media (min-width: utilities.$large-device) {
            height: 23.938rem;
        }
    }
}

/**Menu Container**/
.r-menu-container {
    padding-top: 2rem;
    @media (min-width: utilities.$medium-device-min) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__resto-hat { /**like+h1**/
        display: flex;
        justify-content: space-between;
        gap: 1.03rem;
        & h1 {
            font-family: utilities.$title_logo-font;
            font-size: utilities.$fontsize-resto-name;
        }
    }
}

.like-btn-menu-page { /**Like btn position**/
    position: relative;
    display: flex;
    bottom: 0.1rem;
    align-items: center;
    padding: 0 1.2rem 0 0;
}

/**Menu**/

.restaurant-menu {
    background: utilities.$light-background;
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 0 0.75rem;
    max-width: 1055px;
    margin: auto;
    @media (min-width: utilities.$large-device) {
        width: 80%;
    }
    &__menu-btn-container {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
}

@keyframes page-appear-ltr {
    0% {
        opacity: 0;
        transform: translate(-100px);
    }
    50% {
        opacity: 0;
        transform: translate(-50px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes page-appear-rtl {
    0% {
        opacity: 0;
        transform: translate(100px);
    }
    50% {
        opacity: 0;
        transform: translate(50px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.menu-entrance { /**For first initial load menu**/
    animation: page-appear-ltr 0.7s 0.3s ease-in-out both;
}

.menu-main { /**For second initial load menu**/
    animation: page-appear-rtl 1s 0.3s ease-in-out both;
}

.menu-dessert { /**For third initial load menu**/
    animation: page-appear-ltr 1.3s 0.3s ease-in-out both;
}

.menu-part {
    position: relative;
    margin: 1.25rem 0;
    @media (min-width: utilities.$medium-device-min) {
        width: 634px;
    }
    &__part-title {
        padding-bottom: 1.2rem;
        width: fit-content;
        & h2 {
            font-size: utilities.$fontsize-category;
            font-weight: utilities.$normal-weight;
        }
        &::after { /**Underline**/
            content: "";
            background: utilities.$tertiary-color;
            position: absolute; 
            margin-top: 0.3rem;
            width: 45px;
            height: 0.188rem; /**Underline thickness**/
            transition: all 0.3s ease-in-out;
        }
    }
}

.menu-part {
    &__all-card {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}
.menu-card {
    display: flex;
    align-items: center;
    border-radius: 0.94rem;
    background: utilities.$extra-light-background;
    &__block-text {
        padding: 0.81rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        > .menu-card-title {
            font-size: utilities.$fontsize-menu-choice1;
        }
        > .menu-card-txt {
            font-size: utilities.$fontsize-menu-choice2;
        }

        > .menu-card-title, .menu-card-txt {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    & .menu-card-price {
        height: 37px;
        display: flex;
        align-items: flex-end;
        transition: all 0.5s ease-in-out;
    }
    & .wrap-check {
        width: 3.72rem;
        height: 4.191rem;
        background: utilities.$tertiary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0.94rem 0.94rem 0;
        margin-left: 1rem;
        margin-right: -4rem;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        & .fa-circle-check {
            color: utilities.$option2-font-color;
        }
    }
    &:hover {
        cursor: pointer;
    }
    &:hover .wrap-check {
        margin-right: 0;
        opacity: 1;
    }
    &:hover .menu-card-price {
        transform: translate(0);
    }
}