@use './utilities'; /**Variables and mixin - Redundant rules**/
/**Home-page**/
@import url(home-style.css); /**Import style for home page**/
/**Menu-page**/
@import url(menu-style.css); /**Import style for menu page**/

/**ALL**/

* {
    font-family: utilities.$main-font;
    scroll-behavior: smooth;
    &::selection {
        color: darken(utilities.$tertiary-color, 10);
    }
}

body, html {
    margin: auto;
    overflow-x: hidden!important;
}

@for $i from 1 through 4 { 
    h#{$i} {
        margin: 0; /**For all title h1 to 4**/
    }
}

p {
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
    &.generic-btn {
        @include utilities.generic-btn-style;
    }
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
    &:active {
        color: inherit;
    }
    &:hover {
        cursor: pointer;
    }
}

/**HEADER**/

.top-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__top-logo {
        padding: 0.875rem 0 0.8125rem 0;
        @include utilities.section-shadow;
        z-index: 1; /**For box-shadow**/
        width: 100%;
        display: flex;
        justify-content: center;
        & img {
            @media (min-width: utilities.$large-device) {
                width: 12rem;
            }
        }
    }
}

/**Like button**/

@keyframes like-opacity {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}

.like-button {
    & i {
        position: absolute;
        top: 4px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & .fa-solid {
        transition: opacity 0.3s ease-in-out;
        background: utilities.$gradient-color2;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }
    &:hover .fa-regular {
        animation: like-opacity 0.2s ease-in-out both;
    }
}

/**FOOTER**/

.foot-site {
    background: utilities.$dark-background;
    color: utilities.$option2-font-color;
    padding: 1.38rem 1.56rem;

        @media (min-width: utilities.$medium-device-min) {
            display: flex;
            flex-direction: row-reverse;
            white-space: nowrap;
        }
    &__foot-title h3 {
        font-family: utilities.$title_logo-font;
        padding-bottom: 1rem;
        @media (min-width: utilities.$medium-device-min) {
            padding-bottom: 0.5rem;
            margin-right: 2rem;
            width: 4rem;
        }
        @media (min-width: utilities.$large-device) {
            width: auto;
        }    
    }
    &__foot-nav {
        @media (min-width: utilities.$medium-device-min) {
            gap: 1.5rem;
            margin-right: 2rem;
        }
        @media (min-width: utilities.$large-device) {
            gap: 3.5rem;
            margin-right: 5rem;
        }
        > .group-link {
            display: flex;
            flex-direction: column;
            gap: 0.44rem;
            font-weight: utilities.$medium-weight;
            @media (min-width: utilities.$medium-device-min) {
                flex-direction: row;
            }
        }
        > .group-link-1 {
            padding-bottom: 0.44rem;
            @media (min-width: utilities.$medium-device-min) {
                padding-bottom: 0;
            }
        }
            @media (min-width: utilities.$medium-device-min) {
                display: flex;
                align-items: center;
            }
        &__foot-link i {
            width: 1.3rem;
            margin-right: 0.69rem;
        }
        &__foot-link {
            @include utilities.link-animation;
        }
    }
}
