/**For h1 large device**/
/**For hero-decription large device**/
/**Font-weight For SCSS**/
/**Color For SCSS**/
/**#9356DC primary purple**/
/**#FF79DA secondary purple for gradient**/
/**#99E2D0 light green for some style details**/
/**#353535 dark grey for background**/
/**EAEAEA grey for background**/
/**F6F6F6 light grey for background**/
/**#FFFFFF white for background**/
/**#353535 dark grey for font**/
/**#FFFFFF white for font**/
/**#7E7E7E light grey for font**/
/**#008766 green for font**/
/**Gradient for btn**/
/**Gradient for like icon**/
/**Gradient for footer link**/
/**Media breakpoint**/
/**Laptops min / Desktops min**/
/**Tablets min**/
/**Tablets max**/
/**Mixin For SCSS**/
/**Mixin Animation**/
/**Loader**/
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.25);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes coreanim {
  0% {
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  10% {
    opacity: 0.75;
    border-radius: 0%;
  }
  50% {
    transform: scale(1.24);
    opacity: 0.5;
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes loading-end {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  70% {
    opacity: 0.98;
  }
  97% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loader {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 25vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EAEAEA;
  animation: loading-end 3s 0s ease-out both;
}
.loader__container-loader {
  height: 50%;
}
.loader .prime-item {
  border-top: 1rem solid #9356DC;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #9356DC;
  border-left: 1rem solid transparent;
  border-radius: 50%;
  position: relative;
  top: 4rem;
  height: 10rem;
  width: 10rem;
  animation: rotate 3s ease-in-out infinite;
}
.loader .prime-item:hover {
  animation-play-state: paused;
}
.loader .secondary-item {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #99E2D0;
  border-bottom: 0.5rem dashed #99E2D0;
  border-left: 0.5rem solid #99E2D0;
  border-radius: 50%;
  position: relative;
  bottom: 7rem;
  left: 1rem;
  height: 9rem;
  width: 9rem;
  animation: rotate 3s ease-in-out infinite reverse;
}
.loader .secondary-item:hover {
  animation-play-state: paused;
}
.loader .core-item {
  border: 0.3rem solid #9356DC;
  border-radius: 50%;
  position: relative;
  bottom: 16.5rem;
  left: 1.5rem;
  height: 8.5rem;
  width: 8.5rem;
  animation: coreanim 3s ease-in-out infinite;
}

/**Hero**/
.hero__hero-geolocation {
  background-color: #EAEAEA;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 1.0625rem;
  width: 100%;
  padding: 1rem 0 1rem 0;
  color: #353535;
}
.hero__hero-all {
  text-align: center;
  background-color: #F6F6F6;
  padding: 1.3rem;
}
@media (min-width: 1025px) {
  .hero__hero-all__hero-title h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 767.8px) and (max-width: 1024px) {
  .hero__hero-all__hero-title h1 {
    font-size: 2rem;
  }
}
.hero__hero-all__hero-description {
  margin: 1.688rem 0;
  color: #353535;
}
@media (min-width: 1025px) {
  .hero__hero-all__hero-description {
    font-size: 1.125rem;
  }
}

/**Guide**/
@media (min-width: 767.8px) {
  .guide {
    display: flex;
    justify-content: center;
  }
}
.guide__g-container {
  /**@media (min-width: $medium-device-min) {
      display: flex;
      flex-direction: column;
  }**/
}
.guide__g-container__g-title h2 {
  padding: 3rem 5rem 0 1.25rem;
}
@media (min-width: 1025px) {
  .guide__g-container__g-title h2 {
    padding: 3rem 5rem 0 0.6rem;
  }
}
.guide__g-container__g-all-step {
  margin: 0 0 4.25rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 1025px) {
  .guide__g-container__g-all-step {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 0.5rem;
  }
}

.g-all-step__g-step {
  border-radius: 1.25rem;
  padding: 1rem 0;
  margin: 1.56rem 1.25rem 0 2.03rem;
  width: 100%;
  background-color: #F6F6F6;
  font-weight: 500;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 767.8px) {
  .g-all-step__g-step {
    width: 20.16538rem;
  }
}
@media (min-width: 1025px) {
  .g-all-step__g-step {
    width: 18.16538rem;
  }
}
.g-all-step__g-step__g-number-order {
  display: inline-flex;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 0.88638rem;
  font-weight: 500;
  position: relative;
  right: 14px;
}
.g-all-step__g-step__g-step-txt {
  padding: 0 0.9rem 0 0.81rem;
}
.g-all-step__g-step__stepfa {
  color: #7E7E7E;
}
.g-all-step__g-step__stepfa.fa-solid.fa-store {
  color: #9356DC;
}

/**Restaurants**/
.restaurant {
  background-color: #F6F6F6;
}
@media (min-width: 1025px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.resto-all {
  position: relative;
  padding-bottom: 4.13rem;
}
@media (min-width: 1025px) {
  .resto-all__resto-title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}
.resto-all__resto-title h2 {
  padding: 3rem 5rem 1.5rem 1.25rem;
}
.resto-all__r-card-all {
  display: grid;
  grid-gap: 1.25rem;
}
@media (min-width: 767.8px) {
  .resto-all__r-card-all {
    grid-template-columns: minmax(475px, auto) 1fr;
  }
}
@media (min-width: 767.8px) and (max-width: 1024px) {
  .resto-all__r-card-all {
    margin: 0 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.r-card {
  position: relative;
  margin: 0 1.12rem 0 1.06rem;
  background-color: #FFFFFF;
  border-radius: 0.94rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out; /**scale delay**/
}
@media (min-width: 1025px) {
  .r-card {
    width: 490px;
  }
}
@media (min-width: 767.8px) and (max-width: 1024px) {
  .r-card {
    margin: 0;
  }
}
.r-card:hover {
  transform: scale(1.02);
}
.r-card__r-card-link__r-picture img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.r-card__r-like {
  position: absolute;
  right: 1.56rem;
  bottom: 2.06rem;
}

.r-picture__r-new {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.44rem 0.6rem 0.37rem 0.56rem;
  border-radius: 0.13rem;
}
.r-picture__r-only-picture {
  border-radius: 0.94rem 0.94rem 0 0;
}

.r-txt__r-name {
  padding: 0.5rem 3.75rem 0.31rem 0.81rem;
}
.r-txt__r-geoloc {
  padding: 0 5rem 0.75rem 0.81rem;
}

/*# sourceMappingURL=home-style.css.map */
