/**Font-weight For SCSS**/
/**Color For SCSS**/
/**#9356DC primary purple**/
/**#FF79DA secondary purple for gradient**/
/**#99E2D0 light green for some style details**/
/**#353535 dark grey for background**/
/**EAEAEA grey for background**/
/**F6F6F6 light grey for background**/
/**#FFFFFF white for background**/
/**#353535 dark grey for font**/
/**#FFFFFF white for font**/
/**#7E7E7E light grey for font**/
/**#008766 green for font**/
/**Gradient for btn**/
/**Gradient for like icon**/
/**Gradient for footer link**/
/**Media breakpoint**/
/**Laptops min / Desktops min**/
/**Tablets min**/
/**Tablets max**/
/**Mixin For SCSS**/
/**Header Back arrow**/
@keyframes arrowbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.25);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
.btn-page-return {
  color: #353535;
  position: absolute;
  left: 0.6rem;
  top: 1.15rem;
  transition: transform 3s ease-in-out;
}
.btn-page-return:hover {
  animation: arrowbeat 3s ease-in-out;
}

/**Hero**/
.r-m-hero {
  height: 10rem;
}
.r-m-hero__r-m-picture img {
  width: 100%;
  height: 13.1875rem;
  object-fit: cover;
  position: relative;
  z-index: -1;
  object-position: 50% 60%;
}

/**Menu Container**/
.r-menu-container {
  padding-top: 2rem;
}
@media (min-width: 767.8px) {
  .r-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.r-menu-container__title-container { /**like+h1**/
  display: flex;
  justify-content: center;
  gap: 1.03rem;
}
.r-menu-container__title-container h1 {
  font-family: Shrikhand;
  font-size: 1.75rem;
}

.like-btn-menu-page { /**Like btn position**/
  position: relative;
  display: flex;
  bottom: 0.1rem;
  align-items: center;
  padding: 0 1.2rem 0 0;
}

/**Menu**/
.restaurant-menu {
  background: #F6F6F6;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 0 0.75rem;
  max-width: 1055px;
  margin: auto;
}
.restaurant-menu__menu-btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

@keyframes page-appear-ltr {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  50% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes page-appear-rtl {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  50% {
    opacity: 0;
    transform: translate(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.f-r-m-entrance { /**For initial load menu**/
  animation: page-appear-ltr 0.7s 0.3s ease-in-out both;
}

.f-r-m-main { /**For initial load menu**/
  animation: page-appear-rtl 1s 0.3s ease-in-out both;
}

.f-r-m-dessert { /**For initial load menu**/
  animation: page-appear-ltr 1.3s 0.3s ease-in-out both;
}

.full-resto-menu {
  position: relative;
  margin: 1.25rem 0;
}
@media (min-width: 767.8px) {
  .full-resto-menu {
    width: 634px;
  }
}
.full-resto-menu__title-resto-menu {
  padding-bottom: 1.2rem;
  width: fit-content;
}
.full-resto-menu__title-resto-menu h2 {
  font-size: 1rem;
  font-weight: 400;
}
.full-resto-menu__title-resto-menu::after { /**Underline**/
  content: "";
  background: #99E2D0;
  position: absolute;
  margin-top: 0.3rem;
  width: 45px;
  height: 0.188rem; /**Underline thickness**/
  transition: all 0.3s ease-in-out;
}

.all-r-option {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.all-r-option__resto-option {
  background: #FFFFFF;
  border-radius: 0.94rem;
  padding: 0.81rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.all-r-option__resto-option__r-option-name {
  font-size: 1.125rem;
}
.all-r-option__resto-option__r-option-ingredient {
  font-weight: 300;
}
.all-r-option__resto-option__r-option-price {
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.all-r-option__resto-option__menu-sub-option { /**Price + ingredient**/
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.all-r-option__resto-option:hover {
  cursor: pointer;
}
.all-r-option__resto-option:hover .r-option-name {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
  display: inline-block;
}
.all-r-option__resto-option:hover .r-option-ingredient {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 65%;
  display: inline-block;
}
.all-r-option__resto-option:hover ~ .wrap-container {
  transform: translate(-60px);
  opacity: 1;
}
.all-r-option__resto-option:hover .r-option-price {
  transform: translate(-60px);
}

/**Check wrap**/
.flex-wrapper {
  display: grid;
  grid-template-columns: 1fr 0;
}

.wrap-container {
  width: 3.72rem;
  height: 4.191rem;
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.94rem 0.94rem 0;
  opacity: 0;
  transform: translate(0);
  transition: all 0.3s ease-in-out;
}
.wrap-container__wrap-icon {
  color: #FFFFFF;
}

/*# sourceMappingURL=menu-style.css.map */
