/**Font**/
/**For menu page card title**/
/**For menu page card txt**/
/**For home h1 large device**/
/**For home hero-decription large device**/
/**For home h1 tablet**/
/**Font-weight For SCSS**/
/**Color For SCSS**/
/**#9356DC primary purple**/
/**#FF79DA secondary purple for gradient**/
/**#99E2D0 light green for some style details**/
/**#353535 dark grey for background**/
/**EAEAEA grey for background**/
/**F6F6F6 light grey for background**/
/**#FFFFFF white for background**/
/**#353535 dark grey for font**/
/**#FFFFFF white for font**/
/**#7E7E7E light grey for font**/
/**#008766 green for font**/
/**Gradient for btn**/
/**Gradient for like icon**/
/**Gradient for footer link**/
/**Media breakpoint**/
/**Laptops min / Desktops min**/
/**Tablets min**/
/**Tablets max**/
/**Mixin For SCSS**/
/**Mixin Animation footer**/
/**Variables and mixin - Redundant rules**/
/**Header Back arrow**/
.btn-page-return {
  color: #353535;
  position: absolute;
  left: 0.6rem;
  top: 1.15rem;
  transition: all 0.3s ease-in-out;
}
.btn-page-return:hover {
  transform: scale(1.2);
  color: #99e2d0;
}

/**Hero**/
.r-m-hero {
  height: 12rem;
}
@media (min-width: 1025px) {
  .r-m-hero {
    height: 20rem;
  }
}
.r-m-hero__r-m-picture img {
  width: 100%;
  height: 14.1875rem;
  object-fit: cover;
  position: relative;
  z-index: -1;
  object-position: 50% 60%;
}
@media (min-width: 1025px) {
  .r-m-hero__r-m-picture img {
    height: 23.938rem;
  }
}

/**Menu Container**/
.r-menu-container {
  padding-top: 2rem;
}
@media (min-width: 767.8px) {
  .r-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.r-menu-container__resto-hat { /**like+h1**/
  display: flex;
  justify-content: space-between;
  gap: 1.03rem;
}
.r-menu-container__resto-hat h1 {
  font-family: Shrikhand;
  font-size: 1.598rem;
}

.like-btn-menu-page { /**Like btn position**/
  position: relative;
  display: flex;
  bottom: 0.1rem;
  align-items: center;
  padding: 0 1.2rem 0 0;
}

/**Menu**/
.restaurant-menu {
  background: #F6F6F6;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 0 0.75rem;
  max-width: 1055px;
  margin: auto;
}
@media (min-width: 1025px) {
  .restaurant-menu {
    width: 80%;
  }
}
.restaurant-menu__menu-btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

@keyframes page-appear-ltr {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  50% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes page-appear-rtl {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  50% {
    opacity: 0;
    transform: translate(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.menu-entrance { /**For first initial load menu**/
  animation: page-appear-ltr 0.7s 0.3s ease-in-out both;
}

.menu-main { /**For second initial load menu**/
  animation: page-appear-rtl 1s 0.3s ease-in-out both;
}

.menu-dessert { /**For third initial load menu**/
  animation: page-appear-ltr 1.3s 0.3s ease-in-out both;
}

.menu-part {
  position: relative;
  margin: 1.25rem 0;
}
@media (min-width: 767.8px) {
  .menu-part {
    width: 634px;
  }
}
.menu-part__part-title {
  padding-bottom: 1.2rem;
  width: fit-content;
}
.menu-part__part-title h2 {
  font-size: 1rem;
  font-weight: 400;
}
.menu-part__part-title::after { /**Underline**/
  content: "";
  background: #99E2D0;
  position: absolute;
  margin-top: 0.3rem;
  width: 45px;
  height: 0.188rem; /**Underline thickness**/
  transition: all 0.3s ease-in-out;
}

.menu-part__all-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.menu-card {
  display: flex;
  align-items: center;
  border-radius: 0.94rem;
  background: #FFFFFF;
}
.menu-card__block-text {
  padding: 0.81rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card__block-text > .menu-card-title {
  font-size: 0.94rem;
}
.menu-card__block-text > .menu-card-txt {
  font-size: 0.77rem;
}
.menu-card__block-text > .menu-card-title, .menu-card__block-text .menu-card-txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card .menu-card-price {
  height: 37px;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
}
.menu-card .wrap-check {
  width: 3.72rem;
  height: 4.191rem;
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.94rem 0.94rem 0;
  margin-left: 1rem;
  margin-right: -4rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.menu-card .wrap-check .fa-circle-check {
  color: #FFFFFF;
}
.menu-card:hover {
  cursor: pointer;
}
.menu-card:hover .wrap-check {
  margin-right: 0;
  opacity: 1;
}
.menu-card:hover .menu-card-price {
  transform: translate(0);
}

/*# sourceMappingURL=menu-style.css.map */
